<!DOCTYPE html>
<html lang="es">
    <head>
        <meta name="" charset="utf-8">
        <meta name="Bicicletas" content="Encuentra la bicicleta ideal y el mejor material ">

        <!-- enlaces de font-family  -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">


        <!-- font Awsome  -->
        <link rel="stylesheet" href="../CSS/all.css">
        <link rel="stylesheet" href="../CSS/all.min.css">

        <!-- Normaliz  -->
        <link rel="stylesheet" href="../CSS/normalize.css">

        <!-- enlace de style css -->
        <link rel="stylesheet" href="../CSS/style.css">
        <title>presupuesto</title>
    </head>

    <body>


<!--INCIO DE HEADER de la pagina del Presupuesto-->

        <header>
            <div class="contenido">
                    <div class="elemtos">
                   <div class="logo">
                         <h3>Bicycle</h3>
                          <i class="fa-solid fa-bicycle"></i>
                   </div>
                
                 
                
                <nav class="nav-link">
                    
                    
                        <a href="../Views/index.html">Inicio</a>
                        <a href="../Views/productos.html">Productos</a>
                        <a href="../Views/presupuesto.html">Presupuesto</a>
                        <a href="../Views/Contacts.html">Contactos</a>
                            
                     
                </nav>
                </div>
                </div>
        </header>
<!--FIN DE HEADER de la pagina del Presupuesto-->

           

<!-- inicio section de la pagina del Presupuesto    -->
    <section>
        <h1>SERVICIO AL CLIENTE - CONTACTO</h1>
   
        <div class="contenido">
                 <h3>Tus datos personales se utilizarán para procesar tu pedido,
             mejorar tu experiencia en esta web, gestionar el acceso a 
             tu cuenta y otros propósitos descritos en nuestra política de privacidad.</h3>
            <form class="contact">
               
                <input type="text" id="" placeholder="Tu numbre">
              
                <input type="number" id="number" placeholder="escriber tu numero">
               
                <input type="email" id="email" placeholder="escribe tu email">

                     <label>Política de privacidad</label>
                <input type="checkbox" id="checkbox" name="checkbox">


                
                <textarea name="message" placeholder="escribe un texto"></textarea>
                
                 <input type="button" value="enviar">

            </form>
        </div>
    </section>
<!-- Fin section de la pagina del Presupuesto   -->





         

<!-- Inicio de Footer de la pagina del Presupuesto -->
 <footer>
        <div class="contenido">
    
             <div class="alan">

    
                <p> Copyright © 2025 À bicicleta </p>
                <a href="mailto:bicycleTudela@gmail.com?subject=contacto">bicicletaTudela@gmail.com</a>
   

            <div class="socila">
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-x-twitter"></i>
            </div>
    
            </div>
        </div>

</footer>
 <!-- Fin de Footer de la pagina del Presupuesto -->



        <!-- 5

                     • Una página de presupuestos, que se llamará: presupuesto.html, en esta
                     página se deberá crear un formulario con campos HTML5 que comprueben
                      los datos introducidos por el usuario. Los campos del formulario de-
                     berán ser:
                     o Nombre
                     o Email
                     o Teléfono
                     o Solicite más información (deberá ser un campo de texto multilínea)
                     • Se deberá incluir un checkbox dónde los usuarios aceptarán la “Política de
                     privacidad” de la empresa. Para que se puedan enviar los datos deberán
                     estar cumplimentados todos los campos y deberá estar marcado el che-
                     ckbox.-->
    </body>
</html>